# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environment
venv/
env/

# Django
*.sqlite3
media/
staticfiles/

# Environment variables
.env
*.env
.history
# OS
.DS_Store
Thumbs.db

# Logs
_logs/

# VS Code
.vscode/