{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="alert alert-success" role="alert" style="text-align: center;">
            <h4 class="alert-heading">Successfully Logged Out</h4>
            <p>You have been successfully logged out of ClearFeed.</p>
            <hr>
            <p class="mb-0">Thank you for using ClearFeed!</p>
        </div>

        <center>
            <div style="margin-top: 2rem;">
                <a href="{% url 'login' %}" class="btn btn-primary" style="margin-right: 1rem;">Log In Again</a>
                <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
            </div>
        </center>
    </div>
</div>

{% endblock content %}
