{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h1>Welcome to ClearFeed</h1>
    <p>Social media platforms send users an endless stream of content determined by algorithms with unknown weights and functions. People scroll through hundreds of posts daily without understand the big picture of what is being recommended to them and whether this actually aligns with their interests.</p>
    <p>ClearFeed is a tool designed to give users a simple summary of who and what is showing up in their scrolling. The project begins as a modification of Zeeschuimer, a browser extension that collects data from various online social media web interfaces. Using this tool, ClearFeed takes the metadata from posts and uses a local LLM to summarize content genres, common users, and flag uncomfortable topics.</p>
    <p>Learn more about our privacy policy here. Understand your algorithm by making an account here.</p>
{% endblock %}